{
    "presets": [
        ["env"], ["es2015", {"loose": true}]
    ],
    "plugins": [
        [
            "transform-runtime", {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
    //"plugins": ["transform-object-rest-spread"]
}