/**
*登录界面自定义样式Start
*/
.control-group input,.control-group select{
	border:none;
    box-shadow:none;
    width: 204px;
    height: 32px !important;
    line-height: 32px !important;
    padding-right:30px;
}
.control-group input:focus,.control-group select:focus{
	border:none;
	box-shadow:none;
	outline:0;
}
.form-wrap .control-wrap{
	margin-bottom:0 ;
}
.control-goup .error-tip.form-input{
    border:none;
}

.login-title{
    margin-bottom: 30px;
}
.icon-warning{
    z-index: 30;
}
#forgetpwd .tip{
    top:455px;
}
.user-icon,.country-icon{
    height: 32px;
    line-height: 32px;
}
.error-top{
    top:0 !important;
    left: 214px !important;
    width:190px;
    max-width: 200px!important;
}
.error-top.form-error:before {
    content: "";
    height: 0;
    width: 0;
    border: 8px solid transparent;
    position: absolute;
    border-right:8px solid  #A96B00;
    left: -16px;
    top: 6px;
}
  
.error-top.form-error:after {
    content: "";
    height: 0;
    width: 0;
    border: 8px solid transparent;
    position: absolute;
    border-right: 8px solid #ffc;
    left: -15px !important;
    top: 6px !important;
}
.brand{
    margin-top: 15px;
    background: #ed7020 url(/common/img/logo.png) no-repeat 0 0;
}